* {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

input, button {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.hidden {
    display: none;
}

.menu_box {
    background-color: #2E3440;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#login_container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 400px;
    height: 80%;
    padding: 20px;

    background-color: #3B4252;
    border-radius: 10px;
}

#login_button, #password {
    width: 80%;
}

#media_container, #media_results {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 50%;
    padding: 20px;

    background-color: #3B4252;
    border-radius: 10px;
}

#media_type_box {
    width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-shrink: 0;
}

.media_type_label {

}

#media_input_box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
}

#media_name, #media_confirm {
    height: 40%;
    margin: 5px;
}

#media_results {
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 300px;
}

#media_results.hidden { opacity: 0; }

.media_result {
    padding: 10px;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
}
